{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="card card-body " style="background-color: #f8f1cd">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input class="btn btn-warning"type="submit" name="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}